* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
}
/* intestazione */
header {
  z-index: 100;
  width:100%;
  position: fixed;
}
/* /intestazione */

/* menu di navigazione */
.main-nav {
  text-align: right;
  vertical-align: middle;
}

li {
  display: inline-block;
  padding: 20px;
  list-style: none;
  border-radius: 100%;
  line-height: 100%;
}
/* /menu di navigazione */

/* ancore */
nav li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
/* /ancore */

/* corpo del progetto */
.section {
  height: 100vh;
  position: relative;
}

/* colore delle sezioni */
#section-1 {
  background-color: red;
}

#section-2 {
  background-color: green;
}

#section-3 {
  background-color: yellow;
}

/* /colore delle sezioni */

/* contenitore foto e titolo */
.section .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* dimensione immagini */
.container>img {
  height: 60vh;
}
/* /dimensione immagini */

.container h2 {
  text-align: center;
  font-size: 40px;
  color: yellow;
  text-transform: uppercase;
  letter-spacing: 4px;
}
/* /contenitore foto e titolo */

/* titolo verde */
#section-3 .green-title {
  color: green;
}
/* /titolo verde */

/* /corpo del progetto */
